@import url(https://fonts.googleapis.com/css?family=Lato:700|Raleway:300,500|Roboto:400,500,700);
html {
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.header-container {
  text-align: center;
  margin-bottom: 25px;
}
.header-container > * {
  margin: 0;
}
.header-container > :not(:first-child) {
  margin-top: 10px;
}
.header-container .title {
  font-size: 360%;
  font-family: Raleway, sans-serif;
}
.header-container .title .first-name {
  color: #666;
  font-weight: 300;
}
.header-container .title .last-name {
  color: #333;
  font-weight: 600;
}
.header-container .subtitle {
  font-size: 80%;
  color: #d44a13;
  font-weight: 400;
  text-transform: uppercase;
}
.header-container .address {
  font-size: 100%;
  color: #999;
  font-style: italic;
}
.header-container .links {
  list-style: none;
}
.header-container .links li {
  padding: 0 10px;
  font-size: 0.9rem;
  display: inline-block;
}
.header-container .links li svg {
  color: #555;
  margin-right: 5px;
}
.header-container .links a {
  text-decoration: none;
  color: inherit;
}
.header-container .links li:not(:last-child) {
  border-right: 1px solid #000;
}
.App {
  text-align: center;
  padding: 60px 20px;
  max-width: 960px;
  margin: 0 auto;
}
.App-logo {
  -webkit-animation: App-logo-spin 20s linear infinite;
  animation: App-logo-spin 20s linear infinite;
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.App-link {
  color: #61dafb;
}
@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
h2,
h3 {
  font-family: Lato, sans-serif;
}
section {
  color: #666;
  text-align: left;
  font-size: 115%;
}
section p {
  margin-top: 5px;
  margin-bottom: 0;
}
section h2 {
  color: #333;
  font-size: 140%;
  margin-bottom: 15px;
}
.highlight {
  color: #d44a13;
}
.summary p {
  font-size: 115%;
}
.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}
.projects li > h4 {
  margin: 15px 0px;
}
section h3 {
  color: #333;
  font-size: 105%;
  margin-bottom: 15px;
}
.skills, p.skills {
    color: #666;
  font-style: italic;
  font-weight: 400;
  font-size: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.epoch {
  text-transform: capitalize;
  font-size: 80%;
  color: #999;
  font-weight: 400;
  margin: 0;
  padding-left: 5px;
}
.projects .project-highlights {
  margin-top: 5px;
}
.projects .project-highlights > li:not(:last-child) {
  margin-bottom: 5px;
}
/*# sourceMappingURL=main.2d5e10b7.chunk.css.map */
